body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF

}

h1 {
    color: #74A4BC;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

p {
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: none;
}

button {
	width: 150px;
	height: 25px;
	background-color: #74A4BC;
	color: white;
	border: none;
	position: bottom;
	margin: 2%;
  font-family: 'Roboto', sans-serif;
}

.bodyContent {
	text-align: center
}

table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    width: 70%;
    text-align: center;
    margin-bottom: 3%;

}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(odd) {
    background-color: white;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: 'Roboto', sans-serif;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-family: 'Roboto', sans-serif;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #1C1D21;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #74A4BC;
    color: white;
}
